{% extends 'template/base.html.twig' %}


{% block body %}

    <h1> Details de l'api de {{ api.charName }}</h1>

    <img src="{{ api.portrait }}">

    wallet : {{ wallet }} <br>

    fatigue : {{ fatigue }} <br>


{% endblock %}