{% extends 'template/base.html.twig' %}


{% block body %}

<div class="jumbotron main-w">
    <h2> Mes API's</h2>

    {% include('template/api_list.html.twig') %}

    <a href="{{ path('addapi') }}" > Ajouter un compte </a><br>
    <a href="https://login.eveonline.com/Account/LogOff" target="_blank">Logout from eve</a>

</div>
{% endblock %}