{% extends 'template/base.html.twig' %}


{% block body %}

    <h1> Email</h1>

    <div class="jumbotron">
        <h2> {{ email.subject }}</h2>
        <h4> De : {{ email.from }}</h4>
        <h4> Date : {{ email.timestamp|date("d/m/Y H:i") }}</h4>
        <p style="background-color:#1f1f1f ">
            {{ email.body|raw  }}
        </p>

    </div>


    <script>
        function showinfo(type, data){
            alert('lel');
            if(type === 2){
                window.location.replace('http://evemaps.dotlan.net/corp/' + data)
            }

        }
    </script>

{% endblock %}