{% extends 'template/base.html.twig' %}


{% block body %}
<div class="jumbotron main-w">
    <h3> Liste des services</h3>


    <a href="{{ path('discordjoin') }}" >Rejoindre le serveur Discord</a> <br><br>


    {%  if user.discordId == null %}
        Liaison avec le discord non effectuée <br>
    {% else %}
        Liaison avec le discord effectuée <br>

        <a href="{{ path('updatemyroles') }}" > Mettre a jour mes roles discord</a> <br> <br>

        <button class="btn btn-default" onclick="testDiscord()" > Tester le discord</button>
    {% endif %}
    <script>

        function testDiscord() {

            $.ajax({
                url: '{{ (path('testdiscord')) }}',
                type: "POST",
                dataType: "json",
                data: {
                    test : true
                },
                //async: true,
                success: function (data) {
                    if(data['error']){
                        alert(JSON.stringify(data));
                    }
                }
            }).fail(function (msg) {
                alert('error');
            });
        }


</script>
</div>
{% endblock %}