{% extends 'template/base.html.twig' %}

{% block body %}



    <h1 class="title">♦ Formulaire de recrutement</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}
