{% extends 'template/base.html.twig' %}

{% block body %}



       <center><h1 class="title">♦ Pain and Pleasur ♦</h1>
<img class="logo"  src="/img/logo.png">
 
<br>
<br>
        <p class="lead">Nous recherchons des joueurs actifs et ambitieux.
	<br>
	<br>
		<b><u>Exigences:</u></b>
		<br>
		   <ul>
			<li>FULL API Key</li>
			<li>20 Millions SPs </li>
			<li>Experience PvP </li>
            <li>Savoir être autonome</li>
			<li>Skills Armor prioritaires</li>
			<li>Avoir l'esprit d'&eacute;quipe</li>
			<li>l'Anglais de Fleets est exig&eacute;e</li>
			<li>CAP ARMOR READY (supers/titans - FAX obligatoire)</li> 
			<li>Teamspeak, Discord et un microphone</li>
			<li>NBSI, EUTZ et plus, Fleets actives</li>
		   </ul>
<br>
On vends du rève, on fait des tarifs de groupes.. I'm Elite !<span style="color:red;">  Notre channel public in Eve : pap </span></p>
<p>
  <hr class="my-4">
<span style="color:red;">Contact in-game :</span></p> Yanamar Dusk, Maitre Kirua, RAVENnn Otsito, Instiink Loutte, Fbrz</p>
        <a class="btn btn-lg btn-primary" href="https://docs.google.com/forms/d/e/1FAIpQLScRg6TbWWOcPJMAxcsBDb9CZuS-fYefmPASXvMPm-AR6Pdpcw/viewform" role="button">Recrutement</a></center>

{% endblock %}
