{% extends 'template/base.html.twig' %}

{% block title %}Pain and Pleasur{% endblock %}

{% block css %}
	<link rel="stylesheet" href="{{ asset('css/plap-video.css') }}" />
{% endblock %}

{% block body %}


	<!--<div style="position: fixed; top: 0; left:0; z-index: -99; width: 100%; height: 100%">
		<iframe frameborder="0" height="110%" width="100%" allowfullscreen
				src="https://youtube.com/embed/BeR8X_uARUM?version=3&autoplay=1&loop=1&controls=0&version=3&playlist=BeR8X_uARUM&showinfo=0&autohide=1">
				</div>
		</iframe>-->
		<video autoplay muted loop id="plap-video">
			<source src="{{ asset('video/plap.mp4') }}" type="video/mp4">
			Your browser does not support the video tag.
		</video>



{% endblock %}
