{% extends 'template/base.html.twig' %}

{% block body %}


        <img  width="50%" height="50%" class="logo"  src="{{ asset('img/logo+TBlanc.png') }}">

        <p class="lead">
            <br>
            <br>
            <span style="color:red;"> <b><u>Ce que nous exigeons:</u></b></p>
    <p class="lead">

            <br>Actifs et ambitieux.
            <br>Experience PvP
            <br>Savoir être autonome
            <br>Skills Armor prioritaires
            <br>Avoir l'esprit d'&eacute;quipe
            <br>l'Anglais de Fleets
            <br>Prioriser CAP ARMOR (supers/titans - FAX prio)
            <br>Teamspeak, Discord et microphone
            <br>
            <br>
            <br>
            <span style="color:red;"><b><u>Ce que nous offrons:</u></b></p>
    <p class="lead">

            <br>Plusieurs styles de PVP : Gang / Large Fleet ect...
            <br>Opportunités de PVE
            <br>Minage
            <br>Production
            <br>Programme d’entraînement sur divers sujets avec nos membres seniors.
            <br>Plaisirs dans un environnement conviviale
            <br>Respect de l'IRL de chacun
        <!--
        <ul>
            <li>FULL API Key</li>
            <li>Experience PvP </li>
            <li>Savoir être autonome</li>
            <li>Skills Armor prioritaires</li>
            <li>Avoir l'esprit d'&eacute;quipe</li>
            <li>l'Anglais de Fleets est exig&eacute;e</li>
            <li>CAP ARMOR (supers/titans - FAX)</li>
            <li>Teamspeak, Discord et un microphone</li>
            <li>NBSI, EUTZ et plus, Fleets actives</li>
        </ul>
        -->

        <p>
        <hr class="my-4">
        <span style="color:red;">  Notre channel public in Eve :</span></p> </p>pap</p>
        <span style="color:red;">Contact in-game :</span></p> Yanamar Dusk, Maitre Kirua, RAVENnn Otsito,</p>
        <a class="btn btn-lg btn-primary" href="{{ path('apply') }}" role="button">Postuler</a></center>

{% endblock %}
