{% extends 'template/base.html.twig' %}


{% block body %}



    <h1> Item : {{ item.name }}</h1>

    <img  src="{{ image_link }}"> <br>

    Volume : {{ item.volume }} m3<br>

    Price : {{ item.price }} isk



{% endblock %}