{% extends 'template/base.html.twig' %}


{% block body %}
    <h2>{{ member.getName()  }} </h2> <br>

    {% if feedback is defined %}
        {% if feedback %}
            <div class="alert alert-success">
                Demande de mise a jour des roles sur le discord envoyée avec succée
            </div>
        {% else %}
            <div class="alert alert-danger">
                Erreur lors de l'envoie de la demande de mise a jour des roles sur le discord
            </div>
        {% endif %}
    {% endif %}



    {{ form_start(group_form) }}
    {{ form_widget(group_form) }}
    {{ form_end(group_form) }}
        <br>
        {% if member.discordId == null %} Pas de liaison avec le discord {% else %} <a class="button"> Mettre a jour les roles sur discord</a> {% endif %}



        <h3>Liste des API</h3>

        {% include('template/api_list.html.twig') %}



    <h3>Liste de ses commandes</h3> <br>
    {% include('template/command_list.html.twig') %}

{% endblock %}