{% extends 'template/base.html.twig' %}


{% block body %}

    <h1>{{ member.getName()  }} </h1> <br>

    {{ form_start(group_form) }}
    {{ form_widget(group_form) }}
    {{ form_end(group_form) }}


    <h2>Liste des APIs</h2>

    {% include('template/api_list.html.twig') %}



{% endblock %}