{% extends 'template/base.html.twig' %}


{% block body %}



    <h1> Ajouter une commande</h1>

    <input id="search" type="text" name="search" placeholder="Search.." onkeyup="search(this)">
    <ul id="searchresultlist" class="suggestions"></ul>


    {{ form_start(form) }}

    <ul id="item-fields-list">
    </ul>
    {{ form_end(form) }}





    <script>

        var dataSave;

        var itemAdded = [];

        function search(input) {
            //alert(input.value);
            $.ajax({
                url: '{{ (path('searchitemajax')) }}',
                type: "POST",
                dataType: "json",
                data: {
                    text : input.value
                },
                //async: true,
                success: function (data) {
                    //alert(JSON.stringify(data));
                    dataSave = data;
                    var list = document.getElementById('searchresultlist');

                    var option = '';
                    for (var i = 0; i < data.results.length; i++) {
                        option += '<li onmousedown=addItem(' + i + ')>' + data.results[i].name + '</li>';

                    }
                    list.innerHTML = option;
                    //alert(option);

                }
            }).fail(function (msg) {
                alert('error');
            });

        }


        function addItem(i){
            if(itemAdded[dataSave.results[i].id] === undefined){
                itemAdded[dataSave.results[i].id] = [];

                itemAdded[dataSave.results[i].id]['data'] = dataSave.results[i];
                itemAdded[dataSave.results[i].id]['quantity'] = 1;
                //alert('lel');
            }
            updateItemAddedList();
        }

        function removeItem(id){
            if(itemAdded[id] !== undefined){
                delete itemAdded[id];
                //alert('lel');
            }
            updateItemAddedList();
        }

        function updateItemAddedList(){
            var list = document.getElementById('item-fields-list');
            //list.innerHTML = "";

            var option = '';
            for (var id in itemAdded) {
                option += '<li>' + itemAdded[id]['data'].name + ' <a href="javascript:removeItem(' + id + ')"> remove </a>' +
                    '<input type="hidden" id="form_items_' + id + '" name="form[items][]" value="' + id + '" >' +
                    '<input type="number" id="form_quantity_' + id + '" name="form[quantity][]" value="' + itemAdded[id]['quantity'] + '" onkeyup="changeItemQuantitySaved(' + id + ')" onmouseup="changeItemQuantitySaved(' + id + ')">' +
                    '</li>';

            }

            list.innerHTML = option;
        }

        function changeItemQuantitySaved(id){
            if(itemAdded[id] !== undefined){
                itemAdded[id]['quantity'] = document.getElementById('form_quantity_' + id).value;
            }
        }



    </script>


{% endblock %}