body {
  padding-top: 50px;
   background: url("../images/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.main-w{
    background-color: rgba(22, 30, 39, 0.35);
    color : white;
}

.homepage{
    color: blue;
}
.bouton{color: black;
  background-color: #161e27}

.btn-admin{color: white; background-color: black}

.navbar{    background-color: rgba(22, 30, 39, 0.70);}

.table > tbody > tr > td{
    background-color: #404040;
    border-top: 4px solid #161e27;
    padding: 1px 6px;
    color: white;
}

.tree-table > tbody > tr > td{
    background-color: #404040;
    border-top: 4px solid #161e27;
    padding: 1px 6px;
    color: white;
    text-align: left;
}

.logo{
max-height: 100%;
}

.jumbotron h1{
color: #fff;
    text-align: center;
    max-width: 960px;
    min-width: 760px;
    width: 100%;
    font-weight: 100;
    font-size: 68px;
    font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.form-select{
    color: black;
}

.pointer{
    cursor: pointer;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

a.tooltip {outline:none; }
a.tooltip strong {line-height:30px;}
a.tooltip:hover {text-decoration:none;}
a.tooltip span {
    z-index:10;display:none; padding:14px 20px;
    margin-top:-30px; margin-left:28px;
    width:300px; line-height:16px;
}
a.tooltip:hover span{
    display:inline; position:absolute; color:#111;
    border:1px solid #DCA; background:#fffAF0;}
.callout {z-index:20;position:absolute;top:30px;border:0;left:-12px;}

/*CSS3 extras*/
a.tooltip span
{
    border-radius:4px;
    box-shadow: 5px 5px 8px #CCC;
}


tr .spnTooltip {
    z-index:10;display:none; padding:14px 20px;
    margin-top:-30px; margin-left:28px;
    width:500px; line-height:16px;
}
tr:hover .spnTooltip{
    display:inline; position:absolute; color:#111;
    border:1px solid #DCA; background:#fffAF0;}
.callout {z-index:20;position:absolute;top:30px;border:0;left:-12px;}


.progress {
    position: relative;
}

.progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
}

.dropdown-menu-center {
    right: auto;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.bottom-buffer { margin-bottom:10px; }

.vertical-line{
    border-right: 2px inset #999;
}