{% extends 'template/base.html.twig' %}


{% block body %}
    <h2> Liste des doctrines </h2>

    {% for category in categories %}

        <h4> {{ category.name }} </h4>
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <td> - </td>

                <td>Nom de la doctrine</td>

                <td>Nombre de fit</td>

            </tr>


    {% for doctrine in category.doctrines %}
        <tr>

            <td> - </td>

            <td><a href="{{ path('fit-doctrine', { 'id' : doctrine.getId() } ) }}">{{ doctrine.name }}</a></td>

            <td> {{ doctrine.fits|length }} </td>

        </tr>

    {% else %}
        IL n'y a aucune doctrine dans cette categorie.
    {% endfor %}
        </table>
    </div>


    {% else %}
        IL n'y a aucune category
    {% endfor %}



{% endblock %}