{% extends 'template/base.html.twig' %}

{% block title %}PLAP - Eve Mails{% endblock %}

{% block body %}
    <h2> Eve Mails </h2>

    {% for api in apis %}
        <li><a href="{{ path('emailsNoLabel', { 'id' : api.getId() } ) }}">{{ api.charName }}({{ api.unread }})</a></li>
    {% else %}
        Le membre n'as aucune API.
    {% endfor %}




{% endblock %}