{% extends 'template/base.html.twig' %}

{% block title %}PLAP - Interdit {% endblock %}

{% block body %}
    <h3>Tu n'es pas autorisé a voir ca!</h3>



    <p>
        {% if message is defined %}
            {{ message }}
        {% endif %}
    </p>
{% endblock %}