{% extends 'template/base.html.twig' %}

{% block body %}
    <h1>Erreur lors de la connection! </h1>



    <p>
        {% if message is defined %}
            {{ message }}
        {% endif %}
    </p>
{% endblock %}